@font-face {
    font-family: itc;
    src: url('/assets/fonts/ITCAvantGardeStdBk.otf');
}

* {
    font-family: itc;
    margin: 0;
    padding: 0;
}

body{

    background: url('https://assets.wallpapersin4k.org/uploads/2017/04/Alps-Mountain-Wallpaper-24.jpg') no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100%;
}

.box{
    width: 550px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px 80px 30px 80px;
    text-align: center;
    margin-top: 40px;
    color: rgb(231, 231, 231);
    border-radius: 5%;
}
.box h1 {
    padding-top: 20px;
}
.box p, h5 {
    padding-top: 15px;
}
.box p{
    padding-bottom: 5px;
}
.button{
    display: flex;
    justify-content: space-evenly;
}
a{
    margin: 5px;
}
#btn{
    font-size: 12px;
    padding: 7px;
}
.box-img{
    width: 200px;
    border-radius: 48%;
}
.navbarlogo{
    padding-right: 10px;
}